<header class="header">
  <p class="header-logo">
    <%= link_to posts_path, class: "header-logo_link" do %>
      GoodThings
    <% end %>
  </p>

  <nav class="header-nav">
    <ul class="header-nav_list">
      <li class="header-nav_item">
        <%= link_to posts_path, class: "header-nav_link" do %>みんなの記録<% end %>
      </li>
      <li class="header-nav_item">
        <%= link_to "#", class: "header-nav_link" do %>マイページ<% end %>
      </li>
      <li class="header-nav_item">
        <%= link_to new_post_path, class: "header-nav_link" do %>記録作成<% end %>
      </li>
      <li class="header-nav_item">
        <%= button_to logout_path, method: :delete, class: "header-nav_link bg-transparent border-none p-0 cursor-pointer" do %>
          ログアウト
        <% end %>
      </li>
    </ul>
  </nav>
</header>