<header class="header">
  <div class="header__inner">
    <h1 class="header__title header-title">
      <%= link_to root_path do %>
        GoodThings
      <% end %>
    </h1>

    <nav class="header__nav nav" id="js-nav">
      <ul class="nav__items nav-items">
        <li class="nav-items__item">
          <%= link_to posts_path do %>投稿一覧<% end %>
        </li>
        <li class="nav-items__item">
          <%= link_to "#" do %>投稿作成<% end %>
        </li>
        <li class="nav-items__item">
          <%= link_to "#" do %>プロフィール<% end %>
        </li>
        <li class="nav-items__item">
          <%= button_to "ログアウト", logout_path, 
                method: :delete, 
                class: "btn",
                data: { turbo: false } %>
        </li>
      </ul>
    </nav>

    <button class="header__hamburger hamburger" id="js-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>