<div class="bg-[#FDFBF7]">
  <div class="container mx-auto px-4">
    <div class="flex justify-center">
      <div class="w-full max-w-2xl pt-16">
        <h1 class="text-3xl font-bold mb-8 text-[#707070] w-fit bg-gradient-to-t from-[#F3EBC8] from-40% to-transparent to-40%">ログイン</h1>
        
        <%= form_with url: login_path, data: { turbo: false }, class: "space-y-6" do |f| %>
          <div>
            <%= f.label :email, "メールアドレス", class: "block text-sm font-medium text-gray-700 mb-1" %>
            <%= f.email_field :email, class: "block w-full bg-white rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 border p-2", required: true, placeholder: "abc@example.com" %>
          </div>

          <div>
            <%= f.label :password, "パスワード", class: "block text-sm font-medium text-gray-700 mb-1" %>
            <%= f.password_field :password, class: "block w-full bg-white rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 border p-2", required: true, placeholder: "8文字以上のパスワード" %>
          </div>

          <%= f.submit "ログイン", class: "!no-underline w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-bold text-[#707070] bg-[#F3EBC8] cursor-pointer transition duration-150" %>
        <% end %>
        
        <div class="my-8 text-center flex flex-col space-y-2">
          <%= link_to '新規登録はこちら', new_user_path, class: "text-[#AED7BE] hover:underline text-sm focus:outline-none" %>
        </div>
      </div>
    </div>
  </div>
</div>